@mixin baseFlex(){
    display: flex;
    justify-content: center;
}

header{
    @include baseFlex();
    align-items: center;
    position: relative;
}
main{
    .nav-wrapper{
        section{
            @include baseFlex();
        }
    }
    #content-box{
        @include baseFlex();
        flex-wrap: wrap;   
    }
}  