@mixin baseFlex(){
    display: flex;
    justify-content: center;
}

header{
    @include baseFlex();
    align-items: center;
    position: relative;
}
main{
    .nav-wrapper{
        section{
            @include baseFlex();
        }
    }
    .food-answer{
        @include baseFlex();
    }
    #content-box{
        @include baseFlex();
        flex-wrap: wrap;
        .beerCard{
            h3{
                @include baseFlex();
            }
        }    
    }
    li{
        display: flex;
        justify-content: end;
        flex-flow: row wrap;
        align-items: center;
    }
}  
footer{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
