@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=GFS+Neohellenic&display=swap');


$font-fam-head: 'Dancing Script', cursive;
$font-fam-main: 'Roboto', sans-serif;
$font-size-header: 7vh;
$font-size-l: x-large;
$font-size-m: large;
$font-size-s: small;




@mixin set-margin-padding($x){
    margin: $x;
    padding: $x;
}