@charset 'utf-8';
@use 'sass-utils' as *;


html,
body{
    header{
        height: 20vh;
        h1{
            font-family: $font-fam-head;
            font-size: $font-size-header;
            word-break: break-word;
        }
    }
    main{
        margin-bottom: 40px;
        #content-box{
            @include set-margin-padding(0px);
            .beerCard{
                max-width: 360px;
                border: 2px solid black;
                @include set-margin-padding(5px);
                background-color: $card-bgr;
                h3{
                    font-family: $font-fam-main;
                }
                img{
                    height: 250px;
                    width: 100px;
                }
                button{
                    height: fit-content;
                    width: fit-content;
                }
            }    
        }
    }  
}
//search-bar
.nav-wrapper{
    border-bottom: 3px solid grey;
    padding-bottom: 10px;

    font-size: $font-size-s;
    fieldset{
        @include set-margin-padding(0px);
        height: fit-content;
        &>*{
            font-size: $font-size-s;
        }
    }
        

}
.beerCard > button,
footer > button{
    cursor: pointer;
    background: none;
    border: 0;
    .material-symbols-outlined{
        padding: 1vw;
        border-radius: 50%;
        background: $blue-hl-prim;
    }
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    button{
        margin: 10px;
        .material-symbols-outlined{
            box-shadow: 6px 6px 6px grey;
            font-size: 40px;
            &:hover{
                background: $blue-hl-sec;
                box-shadow: none;
            }
        }
    }
}
/*
@media screen and (max-width: 376px) {

    html,
    body{
        main{
            #content-box{
                @include set-margin-padding(0);
            } 
        }
    }

}*/
@media screen and (min-width: 650px) {
    //search-bar
    .nav-wrapper{
        font-size: $font-size-l;
        fieldset{
            @include set-margin-padding(10px);
            height: fit-content;
            &>*{
                font-size: large;
            }
        }  
    }
    #content-box{
        @include set-margin-padding(10px);
    }
}

* {
    @include set-margin-padding(0);
    box-sizing: border-box;
}



#fav-list{
    background: grey;
    display: none;
}