@charset 'utf-8';
@use 'sass-utils' as *;


html,
body{
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main{
        margin-bottom: 40px;
        #content-box{
            display: flex;
            margin: 10px;
            padding: 10px;
            flex-wrap: wrap;
            .beerCard{
                max-width: 360px;
                border: 2px solid black;
                margin: 10px;
                padding: 10px;
                background-color: $card-bgr;
                h3{
                    display: flex;
                    justify-content: center;
                }
                img{
                    height: 250px;
                    width: 100px;
                }
                button{
                    height: fit-content;
                    width: fit-content;
                }
            }    
        }
    }  
}
//search-bar
.nav-wrapper{
    border-bottom: 3px solid grey;
    padding-bottom: 10px;
    section{
        margin: 10px;
        display: flex;
        justify-content: center;
        height: fit-content;
    }

}
.beerCard > button,
footer > button{
    cursor: pointer;
    background: none;
    border: 0;
    .material-symbols-outlined{
        padding: 1vw;
        border-radius: 50%;
        background: $blue-hl-prim;
    }
}

footer{
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    button{
        margin: 10px;
        .material-symbols-outlined{
            box-shadow: 6px 6px 6px grey;
            font-size: 40px;
            &:hover{
                background: $blue-hl-sec;
                box-shadow: none;
            }
        }
    }
}

@media screen and (max-width: 376px) {

    html,
    body{
        main{
            #content-box{
                margin: 0;
                padding: 0;
            } 
        }
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}



#fav-list{
    background: grey;
    display: none;
}